.main__posicionamiento__compra {
    display: flex;
    justify-content: center;
    margin: $spacing*4 0;
}

.main__imagen__compra {
    @include size (30rem, 30rem);
    margin: 0 $spacing;
}

.main__informacion__compra {
    margin: 0 $spacing;
}

.main__titulo__compra {
    margin-bottom: $spacing*2;
}

.main__texto__compra {
    font-family: $fuenteParrafos;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: $spacing;
}

.main__precio__compra {
    font-size: 1rem;
    margin: $spacing;
}

.main__adicional__compra {
    color: forestgreen;
    margin-bottom: $spacing/2;
}

.main__cantidad__compra {
    align-items: center;
    text-align: center;
    width: 2.5rem;

    
}
