.main__contenedor__contacto {
    display: block;
    margin: auto;
    width: 70%;
}


.main__contacto__imagen {
    @include size (100%, 100%);
    display: flex;
    margin: auto;
    background-image: url(../public/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start end;
}

.main__form__contacto {
    @include size (70%, 70%);

    background-color: $blanco;
    margin: 10% auto;
    padding: $spacing*2;
    
}
