.form {
    display: flex;
    flex-direction: column;
   
}

.form__campo {
    display: flex;
    justify-content: flex-end;
    

}

.form__label {
    font-weight: 700;
    padding: 0.2rem;
    width: 15%;
}

.form__input {

    border: $negro 0.1px solid;
    margin: 0.2rem;
    padding: 0.2rem;
    width: 85%;
}

.form__textarea {
    height: 12rem;
    border: $negro 0.1px solid;
    width: 85%;
    margin: 0.2rem;
}

.form__boton {
    display: flex;
    justify-content: flex-end;
}

.boton {
    background-color: $negro;
    color: $blanco;
    padding: 0.6rem;
    margin-top: 1rem;
    font-family: $fuenteHeading;
    width: 10rem;

    cursor: pointer;
}