.form {
    display: flex;
    flex-direction: column;
   
}

.form__campo {
    display: flex;
    justify-content: flex-end;
    

}

.form__label {
    font-weight: 700;
    padding: 0.2rem;
    width: 15%;
}

.form__input {

    border: $negro 0.1px solid;
    margin: 0.2rem;
    padding: 0.2rem;
    width: 85%;
}

.form__textarea {
    @include size (12rem, 85%);
    border: $negro 0.1px solid;
    margin: 0.2rem;
}

.form__boton {
    display: flex;
    justify-content: flex-end;
}