.header__barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $spacing $spacing*6;

}


.header__logo {
    font-family: $fuenteHeading;
    color: $primario;
    font-weight: 700;
    font-size: 3rem;
}

.header__estilo__logo {
    color: $negro;
}

.header__form {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-bottom: 0.2rem;
}

.header__form__label {
    height: 3rem;
    margin: 0rem;
    padding: 0rem;
}

// Barra inferior

.header__barra__navegacion {

    background-color: $primario;
    padding-left: $spacing*2;

}

.header__barra__lista {
    display: flex;
    height: 100%;
    align-items: center;
}



.nav-link {
    font-weight: 700;
    padding: $spacing;
    
    transition-duration: 0.5s ease;
}

.nav-link:hover {
    background-color: $negro;
    color: $primario;
}


.header__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5) url(../public/5814954.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: darken;
    height: 45rem;
    

}


.header__banner__texto {
    font-family: $fuenteHeading;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);
    font-size: 6rem;
    padding: 0 $spacing;
    margin: 0;

}

.header__banner__subtitulo {
    font-family: $fuenteHeading;
    padding-top: $spacing*2;
    text-align: center;
}

.main__contenedor__titulo {
    
    display: flex;
    border: $primario 2px solid;
    justify-content: center;
    width: 30rem;
    margin: $spacing*2 auto;
}

.main__titulo {
    font-family: $fuenteHeading;
    font-weight: 700;
    color: var(--negro);
    margin: 0.2rem;
    font-size: 1.5rem;
}

.pag__actual {
    background-color: $negro;
    color: $blanco;

}

.navbar {
    --bs-navbar-padding-y: 0;
}
