.main__productos__posicionamiento {
    display: flex;
    justify-content: space-evenly;
}

.main__productos__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}



.main__barra {
    font-weight: 700;
    width: 15rem;
    background-color: $primario;
    border-radius: 3px;
    height: 100%;
    padding-bottom: $spacing;
    
}

.main__titulo__barra {
    background-color: black;
    padding: $spacing;
    text-align: center;
    color: $primario;
}

.productos__barra__lista {
    margin-top: $spacing*2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
 
}

.productos__barra__li {
    margin-top: 0.2rem;
    font-size: 1.1rem;
    padding: $spacing;
    
}

.productos__barra__a {
    @include size(15rem, 15rem);
    transition-duration: 0.3s;
}

.productos__barra__a:hover {
    color: $blanco;
    background-color: $negro;
    padding: $spacing $spacing*2;
    width: 100% 100%;
}

.active>.page-link, .page-link.active {

    background-color: $primario;
    border-color: $primario;
}
