.main__local__imagen {
    @include size (24rem, 34rem);

}

.main__posicionamiento__nosotros {
    display: flex;
    gap: $spacing*2;
    margin: 0 auto;
    width: 60%;
}

.main__nosotros__texto {
    font-weight: 700;
    line-height: 1.5;
}

.firma {
    font-family: $fuenteFirma;
    font-size: 3rem;
    text-align: end;
    text-decoration: underline;
}