.main__local__imagen {
    @include size (34rem, 24rem);

}

.main__posicionamiento__nosotros {
    display: flex;
    gap: $spacing*2;
    margin: 0 auto;
    width: 60%;
}

.firma {
    font-family: $fuenteFirma;
    font-size: 3rem;
    text-align: end;
    text-decoration: underline;
}